.daysBlock {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 24px;
    margin-top: 50px;
    margin-bottom: 50px;

    .dayBlock {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 70px;
        width: 180px;
        font-size: 24px;
        border: 1px solid #000;
        border-radius: 10px;
        cursor: pointer;

        transition: 300ms;

        &:hover {
            transform: scale(1.03);
        }

        &.active {
            opacity: 0.5;
        }
    }
}

.editDaysBlock {

    .switcher {
        margin-top: 27px;
        display: flex;
        gap: 20px;

        .button {
            width: 250px;
            height: 35px;
            border: 1px solid #000;
            border-radius: 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;

            &:hover {
                transform: scale(1.03);
            }
    
            &.active {
                opacity: 0.5;
            }
        }
    }
    
    .dayTimeEdit {

        .allDays {
            display: none;

            &.active {
                display: block;
            }
        }

        .specificDays {
            display: none;
            
            &.active {
                display: block;
            }

            .timeDayBlock {
                display: none;
                font-size: 20px;

                &.active {
                    display: block;
                }                
            }
        }
    }
}