.header {
    display: flex;
    padding: 15px;
    align-items: center;
    position: relative;
    z-index: 100;

    .searchForm{
        position: absolute;
    }

    .logo{
        margin: 0 auto;
    }

    .userNav{
        position: absolute;
        right: 0;
    }
}