.formButton {
    padding: 10px;
    background: none;
    border-radius: 8px;
    width: 320px;
    color: var(--black);
    border: 1px solid var(--black);
    font-size: 16px;
    cursor: pointer;
    transition: 300ms;
  
    &:hover {
        transform: scale(1.02);
    }
  
    &:disabled {
      opacity: 0.5;
      cursor: default;
      &:hover {
        transform: scale(1);
      }
    }
  }